@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #FFF;
  color: #434343;
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #d17e81;
}

h3{
  margin-top: 0;
  margin-bottom: 10px;
}

h1:hover{
  color:#99373a
}

a{
  text-decoration: none;
  color: #d17e81;
}

a:hover{
  color:#99373a
}

#grid{
  /*display: grid;
  grid-template-columns: 50vw 50vw;*/
  width: 100%;
  max-width: 100vw;
  margin-top: 50px;
  height: 100vh;
}

#recommendations{
  column-count: 2;
  margin-bottom: 50px;
}

div.checkboxForm{
  float: left;
  width: 50%;
  padding-left: 10%;
}

div.songWidget{
  float: right;
  width: 50%;
  padding-right: 10%;
}
